[submodule "plugins/dumb"]
	path = plugins/dumb
	url = https://bitbucket.org/losnoco/dumb.git
[submodule "plugins/Game_Music_Emu"]
	path = plugins/Game_Music_Emu
	url = https://bitbucket.org/losnoco/Game_Music_Emu.git
[submodule "plugins/foobar/foobar2000/foo_input_hvl"]
	path = plugins/foobar/foobar2000/foo_input_hvl
	url = https://bitbucket.org/losnoco/foo_input_hvl.git
[submodule "plugins/foobar/foobar2000/foo_dumb"]
	path = plugins/foobar/foobar2000/foo_dumb
	url = https://bitbucket.org/losnoco/foo_dumb.git
[submodule "plugins/foobar/foobar2000/foo_gep"]
	path = plugins/foobar/foobar2000/foo_gep
	url = https://bitbucket.org/losnoco/foo_gep.git
[submodule "plugins/foobar/foobar2000/foo_input_org"]
	path = plugins/foobar/foobar2000/foo_input_org
	url = https://bitbucket.org/losnoco/foo_input_org.git
[submodule "plugins/foobar/foobar2000/foo_osd"]
	path = plugins/foobar/foobar2000/foo_osd
	url = https://bitbucket.org/losnoco/foo_osd.git
[submodule "plugins/File_Extractor"]
	path = plugins/File_Extractor
	url = https://bitbucket.org/losnoco/File_Extractor.git
[submodule "plugins/foobar/foobar2000/foo_unpack_7z"]
	path = plugins/foobar/foobar2000/foo_unpack_7z
	url = https://bitbucket.org/losnoco/foo_unpack_7z.git
[submodule "plugins/foobar/foobar2000/foo_unpack_jma"]
	path = plugins/foobar/foobar2000/foo_unpack_jma
	url = https://bitbucket.org/losnoco/foo_unpack_jma.git
[submodule "plugins/foobar/foobar2000/foo_unpack_lha"]
	path = plugins/foobar/foobar2000/foo_unpack_lha
	url = https://bitbucket.org/losnoco/foo_unpack_lha.git
[submodule "plugins/foobar/foobar2000/foo_unpack_unix"]
	path = plugins/foobar/foobar2000/foo_unpack_unix
	url = https://bitbucket.org/losnoco/foo_unpack_unix.git
[submodule "plugins/libupse"]
	path = plugins/libupse
	url = https://bitbucket.org/losnoco/libupse.git
[submodule "plugins/foobar/foobar2000/foo_input_upse"]
	path = plugins/foobar/foobar2000/foo_input_upse
	url = https://bitbucket.org/losnoco/foo_input_upse.git
[submodule "plugins/foobar/foobar2000/foo_hdcd"]
	path = plugins/foobar/foobar2000/foo_hdcd
	url = https://bitbucket.org/losnoco/foo_hdcd.git
[submodule "plugins/scc"]
	path = plugins/scc
	url = https://bitbucket.org/losnoco/scc.git
[submodule "plugins/munt"]
	path = plugins/munt
	url = https://bitbucket.org/losnoco/munt.git
[submodule "plugins/foobar/foobar2000/foo_midi"]
	path = plugins/foobar/foobar2000/foo_midi
	url = https://bitbucket.org/losnoco/foo_midi.git
[submodule "plugins/ESP/Sega"]
	path = plugins/ESP/Sega
	url = https://bitbucket.org/losnoco/Highly_Theoretical.git
[submodule "plugins/foobar/foobar2000/foo_input_ht"]
	path = plugins/foobar/foobar2000/foo_input_ht
	url = https://bitbucket.org/losnoco/foo_input_ht.git
[submodule "plugins/foobar/foobar2000/foo_dsp_prvb"]
	path = plugins/foobar/foobar2000/foo_dsp_prvb
	url = https://bitbucket.org/losnoco/foo_dsp_prvb.git
[submodule "plugins/qaac"]
	path = plugins/qaac
	url = https://bitbucket.org/losnoco/qaac.git
[submodule "plugins/fdk-aac"]
	path = plugins/fdk-aac
	url = https://bitbucket.org/losnoco/fdk-aac.git
[submodule "plugins/vgmstream"]
	path = plugins/vgmstream
	url = https://github.com/kode54/vgmstream.git
[submodule "plugins/foobar/foobar2000/foo_input_tak"]
	path = plugins/foobar/foobar2000/foo_input_tak
	url = https://bitbucket.org/losnoco/foo_input_tak.git
[submodule "plugins/ESP/PSX"]
	path = plugins/ESP/PSX
	url = https://bitbucket.org/losnoco/Highly_Experimental.git
[submodule "plugins/foobar/foobar2000/foo_psf"]
	path = plugins/foobar/foobar2000/foo_input_aopsf
	url = https://bitbucket.org/losnoco/foo_psf.git
[submodule "plugins/psflib"]
	path = plugins/psflib
	url = https://bitbucket.org/losnoco/psflib.git
[submodule "plugins/ESP/QSound"]
	path = plugins/ESP/QSound
	url = https://bitbucket.org/losnoco/Highly_Quixotic.git
[submodule "plugins/foobar/foobar2000/foo_input_qsf"]
	path = plugins/foobar/foobar2000/foo_input_qsf
	url = https://bitbucket.org/losnoco/foo_input_qsf.git
[submodule "plugins/viogsf"]
	path = plugins/viogsf
	url = https://bitbucket.org/losnoco/viogsf.git
[submodule "plugins/foobar/foobar2000/foo_input_gsf"]
	path = plugins/foobar/foobar2000/foo_input_gsf
	url = https://bitbucket.org/losnoco/foo_input_gsf.git
[submodule "plugins/SSEQPlayer"]
	path = plugins/SSEQPlayer
	url = https://bitbucket.org/losnoco/SSEQPlayer.git
[submodule "plugins/foobar/foobar2000/foo_input_ncsf"]
	path = plugins/foobar/foobar2000/foo_input_ncsf
	url = https://bitbucket.org/losnoco/foo_input_ncsf.git
[submodule "plugins/foobar/foobar2000/foo_input_adplug"]
	path = plugins/foobar/foobar2000/foo_input_adplug
	url = https://bitbucket.org/losnoco/foo_input_adplug.git
[submodule "plugins/foobar/foobar2000/foo_sid"]
	path = plugins/foobar/foobar2000/foo_sid
	url = https://bitbucket.org/losnoco/foo_sid.git
[submodule "plugins/midi_processing"]
	path = plugins/midi_processing
	url = https://bitbucket.org/losnoco/midi_processing.git
[submodule "plugins/midisynth"]
	path = plugins/midisynth
	url = https://bitbucket.org/losnoco/midisynth.git
[submodule "plugins/foobar/foobar2000/foo_input_vio2sf"]
	path = plugins/foobar/foobar2000/foo_input_vio2sf
	url = https://bitbucket.org/losnoco/foo_input_vio2sf.git
[submodule "plugins/vio2sf"]
	path = plugins/vio2sf
	url = https://bitbucket.org/losnoco/vio2sf.git
[submodule "plugins/foobar/foobar2000/foo_snesapu"]
	path = plugins/foobar/foobar2000/foo_snesapu
	url = https://bitbucket.org/losnoco/foo_snesapu.git
[submodule "plugins/foobar/foobar2000/foo_input_dts"]
	path = plugins/foobar/foobar2000/foo_input_dts
	url = https://bitbucket.org/losnoco/foo_input_dts.git
[submodule "plugins/DFC"]
	path = plugins/DFC
	url = https://bitbucket.org/losnoco/DFC.git
[submodule "plugins/lazyusf"]
	path = plugins/lazyusf
	url = https://bitbucket.org/losnoco/lazyusf.git
[submodule "plugins/foobar/foobar2000/foo_input_usf"]
	path = plugins/foobar/foobar2000/foo_input_usf
	url = https://bitbucket.org/losnoco/foo_input_usf.git
[submodule "plugins/foobar/foobar2000/foo_dsp_multiresampler"]
	path = plugins/foobar/foobar2000/foo_dsp_multiresampler
	url = https://bitbucket.org/losnoco/foo_dsp_multiresampler.git
[submodule "plugins/sidplay-residfp"]
	path = plugins/sidplay-residfp
	url = https://bitbucket.org/losnoco/sidplay-residfp.git
[submodule "plugins/libg7221_decode"]
	path = plugins/libg7221_decode
	url = https://bitbucket.org/losnoco/libg7221_decode.git
[submodule "plugins/libg719_decode"]
	path = plugins/libg719_decode
	url = https://bitbucket.org/losnoco/libg719_decode.git
[submodule "plugins/lazyusf2"]
	path = plugins/lazyusf2
	url = https://bitbucket.org/losnoco/lazyusf2.git
[submodule "plugins/dcadec"]
	path = plugins/dcadec
	url = https://bitbucket.org/losnoco/dcadec.git
[submodule "plugins/foobar/foobar2000/foo_cdda/akrip"]
	path = plugins/foobar/foobar2000/foo_cdda/akrip
	url = https://bitbucket.org/losnoco/akrip.git
[submodule "plugins/foobar/foobar2000/foo_adpcm"]
	path = plugins/foobar/foobar2000/foo_adpcm
	url = https://bitbucket.org/losnoco/foo_adpcm.git
[submodule "plugins/foobar/foobar2000/foo_lunar2"]
	path = plugins/foobar/foobar2000/foo_lunar2
	url = https://bitbucket.org/losnoco/foo_lunar2.git
[submodule "plugins/aopsf"]
	path = plugins/aopsf
	url = https://bitbucket.org/losnoco/aopsf.git
[submodule "plugins/foobar/foobar2000/foo_qpsf"]
	path = plugins/foobar/foobar2000/foo_psf
	url = https://bitbucket.org/losnoco/foo_qpsf.git
[submodule "plugins/mgba/mgba"]
	path = plugins/mgba/mgba
	url = https://github.com/kode54/mgba.git
[submodule "plugins/playptmod"]
	path = plugins/playptmod
	url = https://bitbucket.org/losnoco/playptmod.git
[submodule "plugins/modplay"]
	path = plugins/modplay
	url = https://bitbucket.org/losnoco/modplay.git
[submodule "plugins/LibAtrac9"]
	path = plugins/LibAtrac9
	url = https://github.com/Thealexbarney/LibAtrac9.git
[submodule "plugins/foobar/foobar2000/foo_openmpt"]
	path = plugins/foobar/foobar2000/foo_openmpt
	url = https://bitbucket.org/losnoco/foo_openmpt.git
[submodule "plugins/libADLMIDI"]
	path = plugins/libADLMIDI
	url = https://github.com/Wohlstand/libADLMIDI.git