#include "windows.h"

1000 DIALOGEX 100, 100, 190, 187
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "BASSMIDI synth"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "MIDI input device",-1,5,3,180,33
    COMBOBOX        10,11,16,130,60,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    CTEXT           "activity",11,149,16,30,12,SS_CENTERIMAGE | WS_BORDER
    GROUPBOX        "Keyboard input",-1,5,39,180,39
    CTEXT           " 2 3  5 6 7  9 0  = \nQ W ER T Y UI O P[ ]",20,10,49,
                    169,23
    GROUPBOX        "Soundfont",-1,5,80,180,47
    PUSHBUTTON      "no soundfont",40,11,90,168,14
    LTEXT           "Preset:",-1,11,111,23,8
    COMBOBOX        42,36,108,102,70,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    CONTROL         "Drums",44,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,146,110,
                    36,10
    GROUPBOX        "Output",-1,5,129,180,53
    LTEXT           "Buffer:",-1,11,142,22,8
    CONTROL         "Slider1",30,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | 
                    WS_TABSTOP,36,140,100,12
    LTEXT           "",31,139,142,22,8
    LTEXT           "Effects:",-1,11,156,25,8
    CONTROL         "reverb",35,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,40,156,
                    39,10
    CONTROL         "echo",36,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,90,156,
                    33,10
    CONTROL         "chorus",37,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,140,156,
                    38,10
    CONTROL         "flanger",38,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,40,
                    167,39,10
    CONTROL         "distortion",39,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,90,
                    167,45,10
END
