# intellisense crap
ipch

# more intellisense crap
plugins.sdf
plugins.opensdf
plugins.suo
plugins.v11.suo
plugins.v12.suo

# output directories
Debug
Debug32
Debug64
Release
Release32
Release64
Release Good

# and some debugging symbol crap
*.pdb

# new for Visual Studio 2015
.vs

# new for Visual Studio 2015 Update 2?
plugins.VC.VC.opendb
plugins.VC.db
